@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

:root {
  --primary-color: #115173;
  --secondary-color: #6eb4d933;
  --white-text: #f0f3fb;
  --input-text: #000000a1;
  --box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  --sidebar-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.12),
    0 6px 3px 0 rgba(0, 0, 0, 0.22);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "DM Sans", sans-serif;
  background: #ffffff;
}

* {
  box-sizing: border-box;
}
.form .passwordSpan {
  position: absolute;
  top: 22%;
  right: 16px;
}

.form .passwordSpan img {
  width: 21px;
  cursor: pointer;
}

.form .passwordWrapper {
  position: relative;
  height: 3.4rem;
}

/* Toast */
.v-toast__item {
  position: relative;
  top: 8%;
  right: 2%;
}

.v-toast__item--success {
  background-color: var(--primary-color) !important;
}
