.main-field {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
}
button:hover {
    background-color: var(--secondary-color);
}
form {
    width: 50%;
}
fieldset {
    box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.15);
    padding: 10px 20px;
    margin: 20px;
    border: none;
}
legend {
    background: var(--secondary-color);
    padding: 5px 10px;
    border-radius: 10px;
}

.legend-input {
    margin: 15px 0;
    display: flex;
    align-items: center;
}
.legend-input label {
    width: 30%;
}
.legend-input input,
select {
    padding: 5px 10px;
    margin-left: 10px;
    outline: none;
}
.button-box {
    display: flex;
    justify-content: center;
}
:disabled {
    cursor: not-allowed;
}

.error_message {
    color: red;
    position: relative;
    display: block;
    padding-left: 1rem;
}

.editable .input {
    border-bottom: 1px solid var(--secondary-color);
}
@media screen and (max-width: 1200px) {
    form {
        width: min(80%, 800px);
    }
}

@media screen and (max-width: 480px) {
    form {
        width: 384px;
    }
}
